{{#each rows}}
    <tr {{#if state}}data-state="{{this.state}}"{{/if}} data-id="{{this.id}}">
        {{#each this.cells}}
        <td data-id="{{this.id}}" class="og-cell-data">
            {{{this.val}}}
            {{#each ../../actions.cell}}
            <span data-action="{{this.val}}" class="og-cell-action">{{this.val}}</span>
            {{/each}}
        </td>
        {{/each}}
        <td class="og-actions">
            {{#each ../actions.row}}
            <span data-action="{{this.val}}" class="og-row-actions">{{this.val}}</span>
            {{/each}}
        </td>
    </tr>
{{/each}}