{{#each rows}}
    <tr {{#if state}}data-state="{{this.state}}"{{/if}}>
        {{#each this.cells}}
        <td class="og-cell-data og-{{this.id}}">
            {{{this.text}}}
            {{#each ../../actions.cell}}
                <span data-action="{{this.name}}" class="og-cell-action og-{{this.name}}">
                    {{this.name}}
                </span>
            {{/each}}
        </td>
        {{/each}}
        <td class="og-actions">
            {{#each ../actions.row}}
                <span data-action="{{this.name}}" class="og-row-actions og-{{this.name}}">
                    {{this.name}}
                </span>
            {{/each}}
        </td>
    </tr>
{{/each}}