{{#each rows}}
    <tr>
        {{#each this.cells}}
        <td class="og-cell-data og-{{this.id}}">
            {{this.text}}
            {{#each ../../actions.cell}}
                <span class="og-cell-action og-{{this.name}}">{{this.name}}</span>
            {{/each}}
        </td>
        {{/each}}
        <td class="og-actions">
            {{#each ../actions.row}}
                <span class="og-row-actions og-{{this.name}}">{{this.name}}</span>
            {{/each}}
        </td>
    </tr>
{{/each}}