<?xml version="1.0"?>
<object-stream>
  <com.opengamma.core.config.impl.ConfigItem>
    <__value class="com.opengamma.financial.analytics.ircurve.calcconfig.MultiCurveCalculationConfig">
      <__calculationConfigName>ARSFX</__calculationConfigName>
      <__yieldCurveNames>
        <string>FX</string>
      </__yieldCurveNames>
      <__uniqueId class="com.opengamma.util.money.Currency">
        <__code>ARS</__code>
      </__uniqueId>
      <__calculationMethod>FXImplied</__calculationMethod>
      <__exogenousConfigAndCurveNames>
        <entry>
          <string>DefaultTwoCurveUSDConfig</string>
          <string-array>
            <string>Discounting</string>
          </string-array>
        </entry>
      </__exogenousConfigAndCurveNames>
    </__value>
    <__name>ARSFX</__name>
    <__type>com.opengamma.financial.analytics.ircurve.calcconfig.MultiCurveCalculationConfig</__type>
  </com.opengamma.core.config.impl.ConfigItem>
  <com.opengamma.core.config.impl.ConfigItem>
    <__value class="com.opengamma.financial.analytics.ircurve.calcconfig.MultiCurveCalculationConfig">
      <__calculationConfigName>AlternativeThreeCurveUSDConfig</__calculationConfigName>
      <__yieldCurveNames>
        <string>Forward6M</string>
      </__yieldCurveNames>
      <__uniqueId class="com.opengamma.util.money.Currency">
        <__code>USD</__code>
      </__uniqueId>
      <__calculationMethod>ParRate</__calculationMethod>
      <__exogenousConfigAndCurveNames>
        <entry>
          <string>DefaultTwoCurveUSDConfig</string>
          <string-array>
            <string>Discounting</string>
            <string>Forward3M</string>
          </string-array>
        </entry>
      </__exogenousConfigAndCurveNames>
      <__curveExposuresForInstruments>
        <entry>
          <string>Forward6M</string>
          <com.opengamma.financial.analytics.ircurve.calcconfig.CurveInstrumentConfig>
            <__exposures>
              <entry>
                <com.opengamma.financial.analytics.ircurve.StripInstrumentType>BASIS_SWAP</com.opengamma.financial.analytics.ircurve.StripInstrumentType>
                <string-array>
                  <string>Discounting</string>
                  <string>Forward3M</string>
                  <string>Forward6M</string>
                </string-array>
              </entry>
            </__exposures>
          </com.opengamma.financial.analytics.ircurve.calcconfig.CurveInstrumentConfig>
        </entry>
      </__curveExposuresForInstruments>
    </__value>
    <__name>AlternativeThreeCurveUSDConfig</__name>
    <__type>com.opengamma.financial.analytics.ircurve.calcconfig.MultiCurveCalculationConfig</__type>
  </com.opengamma.core.config.impl.ConfigItem>
</object-stream>
