/*
 * Copyright 2013 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

.OG-gadget-recordtable {}

.OG-gadget-recordtable thead th {
    background-color: #ae2e10;
    color: #000;
    font-weight: bold;
    padding: 7px 10px;
    text-align: left;
}

.OG-gadget-recordtable tbody {
    border: 1px solid #eee;
}

.OG-gadget-recordtable tbody td {
    padding: 7px 10px;
    text-align: left;
}

.OG-gadget-recordtable .og-cell-action{
    visibility: hidden;
}
.OG-gadget-recordtable .og-cell-data:hover .og-cell-action{
    visibility: visible;
    cursor: pointer;
}

.OG-gadget-recordtable .og-row-actions:hover{
    cursor: pointer;
}

.OG-gadget-recordtable .og-actions .og-revert{
    display: none;
}