/*
 * Copyright 2013 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

.OG-gadget-recordtable {}

.OG-gadget-recordtable thead th {
    background-color: #ae2e10;
    color: #fff;
    font-weight: bold;
    padding: 7px 10px;
    text-align: left;
}

.OG-gadget-recordtable tbody {
    border: 1px solid #eee;
}

.OG-gadget-recordtable tbody td,
.OG-gadget-recordtable tfoot th {
    padding: 7px 10px;
    text-align: left;
}

.OG-gadget-recordtable .og-cell-data .og-cell-action{
    visibility: hidden;
}
.OG-gadget-recordtable .og-cell-data:hover .og-cell-action{
    visibility: visible;
    cursor: pointer;
}

.OG-gadget-recordtable .og-row-actions:hover{
    cursor: pointer;
}

.OG-gadget-recordtable .og-actions [data-action=revert]{
    display: none;
}

.OG-gadget-recordtable tfoot th span:hover{
    cursor: pointer;
}

.OG-gadget-recordtable tr[data-state=edit] [data-action=edit]{
    display: none;
}