/**
 * Copyright 2013 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

.OG-Openfin{
    background-color: #e2e2e2;
    white-space: nowrap;
    height: 36px;
}

.OG-Openfin form {
    position: relative;
}

.OG-Openfin div,
.OG-Openfin input {
    font-size: 13px;
}

.OG-Openfin div {
    position: absolute;
    top: 5px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.OG-Openfin div:hover {
    border:1px solid #a3a3a3;
    border-radius: 2px;
}

.OG-Openfin div.og-disabled {
    border:none;
    background: transparent;
    cursor: default;
}

.OG-Openfin div:active{
    background-color: #a3a3a3;
}

.OG-Openfin .og-back {
    left: 5px;
}

.OG-Openfin .og-back:before{
    border-bottom: 7px solid transparent;
    border-right: 7px solid #586576;
    border-top: 7px solid transparent;
    content: '';
    display: inline-block;
    left: 6px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
}

.OG-Openfin .og-back:after{
    border: 2px solid #586576;
    content: '';
    margin-top: 11px;
    margin-left: 13px;
    position: absolute;
    width: 1px;
}

.OG-Openfin .og-back:hover:before{
    margin-top: -8px;
    left: 5px;
}

.OG-Openfin .og-back:hover:after{
    margin-top: 10px;
    margin-left: 12px;
}

.OG-Openfin .og-back.og-disabled:before{
    border-bottom: 7px solid transparent;
    border-right: 7px solid #a6a6a6;
    border-top: 7px solid transparent;
    content: '';
    display: inline-block;
    left: 6px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
}

.OG-Openfin .og-back.og-disabled:after{
    border: 2px solid #a6a6a6;
    content: '';
    margin-top: 11px;
    margin-left: 13px;
    position: absolute;
    width: 1px;
}

.OG-Openfin .og-forward {
    left: 35px;
}

.OG-Openfin .og-forward:before{
    border-bottom: 7px solid transparent;
    border-left: 7px solid #586576;
    border-top: 7px solid transparent;
    content: '';
    display: inline-block;
    margin-top: -7px;
    position: absolute;
    right: 5px;
    top: 50%;
}

.OG-Openfin .og-forward:after{
    border: 2px solid #586576;
    content: '';
    margin-top: 11px;
    margin-left: 8px;
    position: absolute;
    width: 2px;
}

.OG-Openfin .og-forward:hover:before{
    margin-top: -8px;
    right: 6px;
}

.OG-Openfin .og-forward:hover:after{
    margin-top: 10px;
    margin-left: 7px;
}

.OG-Openfin .og-forward.og-disabled:before{
    border-bottom: 7px solid transparent;
    border-left: 7px solid #a6a6a6;
    border-top: 7px solid transparent;
    content: '';
    display: inline-block;
    margin-top: -7px;
    position: absolute;
    right: 5px;
    top: 50%;
}

.OG-Openfin .og-forward.og-disabled:after{
    border: 2px solid #a6a6a6;
    content: '';
    margin-top: 11px;
    margin-left: 8px;
    position: absolute;
    width: 2px;
}

.OG-Openfin .og-url {
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    left: 65px;
    min-width: 300px;
    padding:5px 10px;
    position: absolute;
    right: 10px;
    top: 2px;
}